@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #000000;
    color: #f1eab9;   
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.main{
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    border-radius: 10px;
    width: 80%;
    align-items: center;
}
header{
  background-color: #e8d153;
  color: #000000;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.first-section{
    margin: 3%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.first-div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.second-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.second-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first-div-second-section{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.third-div{
    display: flex;
    gap: 30px;
}
textarea{
    width: 100%;
    border-radius: 15px;
}
input {
    max-width: 190px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: #1d1d1c;
  }
  input:hover, textarea:hover{
    background-color: #f1eab9;
  }
#foto-id{
    color: #f1eab9;
}
img{
    width: 300px;
    height: 300px;
}